In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [41]:
# define function extract pagewise

def extract(page):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36'}
    url = f'https://uk.indeed.com/jobs?q=data+scientist&l=London%2C+Greater+London&start={page}'
    r=requests.get(url,headers)
    soup=BeautifulSoup(r.content,"html.parser")
    return soup

In [42]:
# define function transform to capture required details

def transform(soup):
    error_=[]
    divs=soup.findAll('div',class_='job_seen_beacon')
    for item in divs:
        title=item.find('span').text # title is not quite right 
        #print(title)
    
        company_name=item.find('span',class_="companyName").text
        #print(company_name)
    
 
        location=item.find('div',class_='companyLocation').text
        #print(location)
        
        try:
            salary=item.find('div',attrs={'class':'salary-snippet'})
            #print(salary)
        except:
            salary=''
            #print(salary)        
        
        summary=item.find('div',class_='job-snippet').text.strip().replace('\n','')
        #print(summary)
        job={
            'title':title,
            'company_name':company_name,
            'location':location,
            'salary':salary,
            'summary':summary
        }
        try:
            job_list.append(job)
        except:
            error_.append(company_name)
    return

In [43]:
job_list=[]

# extracting 3 pages of job details
for i in range(0,40,10):
    print(f'page {i}')
    c=extract(i)
    transform(c)
    #print(job_list)
    
# inserting the job_list dictionary to a dataframe    
df=pd.DataFrame(job_list)

page 0
page 10
page 20
page 30

In [44]:
df

,title,company_name,location,salary,summary
0,new,"JPMorgan Chase Bank, N.A.",London,None,Demonstrable understanding and experience in d...
1,"Research Data Scientist, Intern",Facebook App,London,None,Experience with data visualization libraries s...
2,new,Kindred Group,London,None,We have invested heavily in data technologies ...
3,"Data Scientist, Analytics Intern",Facebook App,London,None,Perform large-scale data analysis to extract u...
4,Junior Data Scientist - London,Frontier Economics Limited,London,None,"Source data and set our data requirements, ada..."
5,"Data Scientist, Personal Banking",Monzo,London•Remote,None,90% of day-to-day data-driven decisions are co...
6,new,Guy's and St Thomas' NHS Foundation Trust,London SE1 7NJ,"[[£54,223 - £60,316 a year]]",A consortium of NHS Trusts have set out with t...
7,Data Scientist,TikTok,London,None,Experience navigating and working with very la...
8,new,Bank of England,London,"[[£45,900 - £55,000 a year]]",Experience in data visualisation or other work...
9,Data & Analytics - Internship,NatWest Group,London,"[[£21,500 a year]]",And data science allows us to apply statistics...
10,Data Scientist,WarnerMedia,London,None,Synthesize analytics and statistical approache...
11,new,AlignAlytics,London WC1V 6PX•Remote,"[[Up to £55,000 a year]]",Building data transformation pipelines to supp...
12,new,Government Digital Service,London,"[[£64,500 a year]]","Experience of data manipulation, visualisation..."
13,Data Scientist,NCVO,London N1•Temporarily Remote,"[[£32,628 a year]]",Research and data analysis using Python.Collec...
14,Multiple Data Scientist/Senior Analyst roles (...,Bank of England,London,"[[£45,900 - £59,400 a year]]",Experience in building and supporting data mod...
15,Multiple Data Scientist/Senior Analyst roles (...,Bank of England,London,None,Experience in building and supporting data mod...
16,Data Scientist - suit recent PhD (London based...,Talenting,London•Remote,None,Data Scientist - ideal first role post PhD to ...
17,Data Scientist - Machine Learning,Algo Capital,Greater London,None,Pull data from disparate sources.Design and va...
18,Associate Data Scientist,Infosys,London,None,Perform Exploratory Data Analysis on customer ...
19,Data Scientist,BeZero Carbon,London,None,"Manage inbound data sources, structure and mai..."
20,new,Sopra Steria,Hemel Hempstead HP2 7AH,None,"Develop, support, educate, and promote our sol..."
21,Data Scientist,RELX,London,None,Modelling : Develop and optimise models levera...
22,new,air-recruitment,London•Temporarily Remote,None,This agency department is hiring at different ...
23,Data Scientist - 13 month Internship,RELX,London,None,"We will help you to establish, maintain, and t..."
24,Data Scientist,Monese,London WC2N 5DU,None,Develop detailed knowledge of underlying data ...
25,Data Scientist,G-Research,London,None,Demonstrable proficiency in statistical data a...
26,Data Scientist,Cantine,London,None,Assess and improve the effectiveness of existi...
27,Data Scientist,MindBridge Ai,London EC2Y,None,Work with customers to understand their requir...
28,Data Scientist,Fable Data,London,None,Assist in the maintenance of a library of grou...
29,Data Scientist - Strategy & Operations,Ocado Group,London,None,Drive a consistent strategy around the use of ...
30,Junior Data Scientist,Global Radio Services,London,None,Knowledge of our main data warehouses and data...
31,Data Scientist - Innovation Lab,Citi,London,None,"Experience with data visualisation tools, such..."
32,Intern - Data Scientist,Behold.ai,London,None,Location: London We have open positions for se...
33,Associate Network Data Scientist,Sky,London,None,Some exposure to data ingestion pipelines.Inge...
34,Data Scientist (Strategic Insights),PlayStation Europe,London,None,Independently extract and integrate data from ...
35,Data Scientist,"JPMorgan Chase Bank, N.A.",London,None,Help the LOB stakeholders innovate through dat...
36,"Data Scientist, Economist",Deliveroo,London,None,Data Scientists at Deliveroo report into our d...
37,Data Scientist,Credit Suisse,London,None,The data scientists have background either Mas...
38,new,Argus Media,London WC1X 8NL,None,Experience with exploratory data analysis and ...
39,new,Facebook App,London,None,Communication and influence: You won’t simply ...
40,Data Scientist,Datasource,London,None,Our Clients advanced defence technology protec...
41,new,Hyde International UK,London E14•Remote,None,Mainly to Use website scanning tool or program...
42,Data Scientist,Faethm,London EC3A,None,At least 2 year’s professional experience work...
43,Contract Data Scientist - NLP,Talenting,London,[[£550 - £590 a day]],"Assist with data extraction, transformation, a..."
44,new,Gios technologies,London,[[£400 - £450 a day]],The role will suit an experienced data scienti...
45,new,INFOSTASH LTD,London N1,"[[£30,000 - £45,000 a year]]",Develop custom data models and algorithms to a...
46,new,Facebook App,London,None,Communication and influence: You won’t simply ...
47,new,Sainsburys,London EC1N,None,"We’ve got data from billions of transactions, ..."
48,new,PwC,London,None,Tackling hands on data science problems for Pw...
49,Data Scientist,Frontier Economics Limited,London WC1V,None,Experience of working with large datasets and ...
50,Data Scientist,CarbonChain,London,None,Our data scientists sit side by side with soft...
51,Data Scientist,Aqovia,London•Remote,"[[£55,000 - £70,000 a year]]",Will be working with large volumes of data and...
52,new,Marks & Spencer,London,None,SQL to retrieve and manipulate data.Distribute...
53,Junior Data Scientist - CRM Team,Novafutur,London,None,Ability to analyse big data sets coming from v...
54,Data Scientist,Cleo,London,"[[£45,000 - £79,000 a year]]",At least 2 years of experience in data science...
55,new,Oho Group,London,"[[£30,000 - £38,000 a year]]",A problem solver with a creative approach to d...
56,Data Scientist,Wayve,London,None,Comfortable querying and building large datase...
57,Geospatial Data Scientist,BuroHappold Engineering,London,None,Taking the lead on the development of data sci...
58,Data Science Industrial Placement 2022,Marks & Spencer,London,None,From access to in-house development programmes...
59,Data Scientist,AiDash,London SW1A 2DX,None,Work cross-functionally with data scientists a...